{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div>
          
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
              <a class="dropdown-item fw-normal rounded-top" href="#"><span class="far fa-file-alt me-2"></span>Document</a>
              <a class="dropdown-item fw-normal" href="#"><span class="far fa-comment-dots me-2"></span>Message</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-box-open me-2"></span>Product</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger me-2"></span>My Plan</a>
          </div>
      </div>
      <div>
     
 
      </div>
  </div>


  
  
  <div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body shadow-sm mb-4">
          <p class="card-category"><h3 style="color:rgba(9, 3, 173, 0.904)"><b>Nouveau utilisateur :</b> </h3><br>
                                <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                    {% endif %}                                     
                                </p> 
                         

                            <form method="post" action="">
                            
                                {% csrf_token %}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">
                                    Numéro CIN</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-shield" ></span></span>
                                        {{ form.username }}
                                    </div>  
                                    <span class="text-error">{{ form.username.errors }}</span>
                                </div>

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                        {{ form.email }}
                                    </div>  
                                    <span class="text-error">{{ form.email.errors }}</span>
                                </div>
                                <!-- End of Form -->

                                <!-- End of Form -->
                                <div class="form-group">

                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Mot de passe</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password1 }}
                                        </div>  
                                        <span class="text-error">{{ form.password1.errors }}</span>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Confirmer mot de passe</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password2 }}
                                        </div>  
                                        <span class="text-error">{{ form.password2.errors }}</span>
                                    </div>
                                    <!-- End of Form -->                                    
                              
                                </div>
                                <div class="mt-3">
                                    <button  type="submit"name="register" class="btn btn-info" style="float:right">Ajouter</button>
                              
                                  </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
