{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div>
          
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
              <a class="dropdown-item fw-normal rounded-top" href="#"><span class="far fa-file-alt me-2"></span>Document</a>
              <a class="dropdown-item fw-normal" href="#"><span class="far fa-comment-dots me-2"></span>Message</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-box-open me-2"></span>Product</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger me-2"></span>My Plan</a>
          </div>
      </div>
      <div>
     
 
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-xl-8">
          <div class="card card-body shadow-sm mb-4">
            <p class="card-category"><h3 style="color:rgba(9, 5, 116, 0.904)">Mon profil</h3><br> <br>
              <form>
                  <div class="row">
                      <div class="col-md-6 mb-3">
                          <div>
                              <label>Numéro de carte d'identité : <p>{{getuser.username}}</p></label>            
                          </div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <div>
                            <label>Email : <p>{{getuser.email}}</p></label>   
                          </div>
                      </div>
                  </div>
                  <div class="row align-items-center">
                      <div class="col-md-6 mb-3">
                          <label>Nom : <p>{{getuser.last_name}}</p></label>
                       
                      </div>
                      <div class="col-md-6 mb-3">
                          <label >Prénom : <p>{{getuser.first_name}}</p></label>
                        
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-3">
                        <label >Dernière connexion :<p>{{getuser.last_login}}</p></label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label >Date création de la compte :<p>{{getuser.date_joined}}</p></label>
                      </div>
                  </div>
         
      
               
              </form>
          </div>
      
      </div>
      <div class="col-12 col-xl-4">
          <div class="row">
              <div class="col-12 mb-4">
                  <div class="card shadow-sm text-center p-0">
                      <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                      <div class="card-body pb-5">
                          <img src="/static/assets/img/team/avt.png" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                      
                          <h5 class="fw-normal">
                            {{ request.user.last_name }}
                            
                            {{ request.user.first_name }}
                            <br>
                          </h5>
                          <br><br>
                         
                      </div>
                    </div>
              </div>
              <div class="col-12">


              </div>
  
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}