{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<img src="/static/assets/img/team/11.png" alt="banque" width="1300" height="250"><br>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">

</div>

  <div class="card card-body shadow-sm table-wrapper table-responsive">
    <div class="card-header card-header-primary">
        <p class="card-category"><h3 style="color:rgba(9, 5, 116, 0.904)">Liste des transactions</h3>
    </div>
      <table class="table table-hover">

          <thead bgcolor="lightgray">
              <tr>
                  
                  <th>Date transaction</th>
                  <th>Numéro de carte de crédit </th>                 
                  <th>categorie</th>				
                  <th>Montant</th>   
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
        
    {% for i in listetransactions %}

          <tr>
                 
              <td> {{i.year}}-{{i.month}}-{{i.day}}</td>
              <td>{{i.CarteCredit_id}}</td> 
              
              {% if i.category != None  %}
              <td> {{i.category}}</td>
              {% elif i.category_pred == 0  and i.category == None %}   
              <td>Entertainment</td>   
              {% elif i.category_pred == 1 and i.category == None %}
              <td>Food_dining</td> 
              {% elif i.category_pred == 2 and i.category == None %}
              <td>Gas_transport</td> 
              {% elif i.category_pred == 3 and i.category == None %}
              <td>Grocery</td> 
              {% elif i.category_pred == 4 and i.category == None %}
              <td>Health_fitness</td> 
              {% elif i.category_pred == 5 and i.category == None %}
              <td>Home</td> 
              {% elif i.category_pred == 6 and i.category == None %}
              <td>kids_pets</td> 
              {% elif i.category_pred == 7 and i.category == None  %}
              <td>Misc</td> 
              {% elif i.category == 8 and i.category == None %}
              <td>Personal_care</td> 
              {% elif i.category_pred == 9 and i.category == None %}
              <td>Shopping</td> 
              {% elif i.category_pred == 10 and i.category == None  %}
              <td>Travel</td> 
                        
            {% endif %}

          <td>{{i.amt}}</td>
          
          <td>
          <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
          <label class="btn btn-outline-danger" for="danger-outlined" onclick="myFunction()">frauduleuse</label>
          </td>
      </tr>
      <script>
        function myFunction() {
          confirm("Voulez-vous vraiment réclamer une transaction frauduleuse ! ");
        }
        </script>

    {% endfor %}
                
          </tbody>
      </table>

      <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">

      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
