{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<img src="/static/assets/img/team/11.png" alt="banque" width="1300" height="250"><br>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    
    
   
   
</div>

  <div class="card card-body shadow-sm table-wrapper table-responsive">
    <div class="card-header card-header-primary">
        <p class="card-category"><h3 style="color:rgba(9, 5, 116, 0.904)">Liste des transactions</h3>
    </div>
      <table class="table table-hover">

          <thead bgcolor="lightgray">
              <tr>
                  
                  <th>Date transaction</th>
                  <th>marchand</th>	
                  <th>categorie</th>				
                  <th>Montant</th>                 
                  <th>Etat</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
        
            {% for i in listetransactions %}

            <tr>
                 
              <td> {{i.year}}-{{i.month}}-{{i.day}}</td>
              <td>{{i.merchant}} </td>   

              {% if i.category != None  %}
                 
              <td>
              {{i.category}}
              </td>

              {% elif i.category == None  and  category_pred != None %}
              <td>
                {{i.category_pred}}
              </td>
            
            {% endif %}      

                         
              <td> {{i.amt}} </td>  
              
            {% if i.is_fraud == 0 %}
              <td>
                    <p style="color:rgba(60, 179, 113)"><b>Non Frauduleuse</b></p>
              </td>
              {% elif i.is_fraud == 1  %}
                 
              <td>
                <p style="color:rgba(224, 15, 68, 0.534)"><b>Frauduleuse</b></p>
              </td>

              {% elif i.is_fraud_pred == 0  and  i.is_fraud == none %}
              <td>
                    <p style="color:rgba(60, 179, 113)"><b>Non Frauduleuse</b></p>
              </td>
              {% elif  i.is_fraud_pred == 1 and i.is_fraud == none %}
                 
              <td>
                <p style="color:rgba(224, 15, 68, 0.534)"><b>Frauduleuse</b></p>
              </td>
            {% endif %}      

              <td><input type="checkbox"></td>
          </tr>

          {% endfor %}
                
                
          </tbody>
      </table>

      <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">

      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
