{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<img src="/static/assets/img/team/1.jpg" alt="banque" width="1400" height="400">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    
    
    <h3><b>Historique des opérations</b></h3><br>  
   
</div>

  <div class="card card-body shadow-sm table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Numéro</th>
                  <th>Libellé opération</th>						
                  <th>numéro de compte</th>
                  <th>Date de l'opération</th>
                  <th>Montant</th>
                  <th>Status</th>
                  <th>Frauduleuse</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              <tr>
                  <td>                     
                     1                    
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 May 2020</span></td>                        
                  <td><span class="fw-normal">1 Jun 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-warning">resultat Algo ML</span></td>
                  <td>
                    <input type="checkbox">
                 </td>
              </tr>
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                        2
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 Apr 2020</span></td>                        
                  <td><span class="fw-normal">1 May 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-danger">Frauduleuse</span></td>             
                   <td>
                    <input type="checkbox">

                  </td>
              </tr> 
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                          3
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 Mar 2020</span></td>                        
                  <td><span class="fw-normal">1 Apr 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-success">non frauduleuse</span></td>
                  <td>
                    <input type="checkbox">
                 </td>
              </tr> 
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                          4
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 Feb 2020</span></td>                        
                  <td><span class="fw-normal">1 Mar 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-success">non frauduleuse</span></td>
                  <td>
                    <input type="checkbox">
                  </td>
              </tr> 
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                        5
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 Jan 2020</span></td>                        
                  <td><span class="fw-normal">1 Feb 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-danger">Frauduleuse</span></td>                 
                   <td>
                    <input type="checkbox">
                  </td>
              </tr> 
    
 
 
                                    
          </tbody>




      </table>
      <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  <li class="page-item">
                      <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                  </li>
              </ul>
          </nav>
          <div class="fw-bold small d-none d-lg-block">Showing <b>5</b> out of <b>25</b> entries</div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
