{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>

<img src="/static/assets/img/team/11.png" alt="banque" width="1300" height="250"><br>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    
    
   
   
</div>
<div class="row">
<div class="col-sm-8">
  

  <div class="card card-body shadow-sm table-wrapper table-responsive">
    <div class="card-header card-header-primary">
        <p class="card-category"><h3 style="color:rgba(9, 5, 116, 0.904)">Historiques des transactions des clients</h3>
    </div>
      <table class="table table-hover">

          <thead bgcolor="lightgray">
              <tr>
                <th>Numéro de carte de crédit </th>
                  <th>Nom utilisateur</th>
                  <th>Email</th>
                  <th>Transactions</th>				
                                
                 
              </tr>
          </thead>
          <tbody>
        
            {% for i in users %}

            <tr>                
            
              <td></td>
            

              <td>{{i.username}}</td>     
              <td>{{i.email}}</td> 
           
              <td>  <div class="d-grid"><button id="myBtn" class="btn btn-dark">Détailles</button></div> </td>
                 

            </tr>
            {% endfor %}
            

                
          </tbody>
      </table>
    

      <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
      </div>
  </div>
  </div>

<!--fin tab users-->

  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>


    <div class="card card-body shadow-sm table-wrapper table-responsive">
      <div class="card-header card-header-primary">
          <p class="card-category"><h3 style="color:rgba(9, 5, 116, 0.904)">Liste des transactions</h3>
      </div>
        <table class="table table-hover">
  
            <thead bgcolor="lightgray">
                <tr>
                    
                  <th>Date transaction</th>
                  <th>NUMÉRO DE CARTE DE CRÉDIT</th>	
                  <th>categorie</th>				
                  <th>Montant</th> 
                </tr>
            </thead>
            <tbody>          
              {% for i in ListeTransactionss %}
      

          <tr>
                 
              <td> {{i.year}}-{{i.month}}-{{i.day}}</td>
              <td>{{i.CarteCredit_id}}</td> 
              
              {% if i.category != None  %}
              <td> {{i.category}}</td>
              {% elif i.category_pred == 0  and i.category == None %}   
              <td>Entertainment</td>   
              {% elif i.category_pred == 1 and i.category == None %}
              <td>Food_dining</td> 
              {% elif i.category_pred == 2 and i.category == None %}
              <td>Gas_transport</td> 
              {% elif i.category_pred == 3 and i.category == None %}
              <td>Grocery</td> 
              {% elif i.category_pred == 4 and i.category == None %}
              <td>Health_fitness</td> 
              {% elif i.category_pred == 5 and i.category == None %}
              <td>Home</td> 
              {% elif i.category_pred == 6 and i.category == None %}
              <td>kids_pets</td> 
              {% elif i.category_pred == 7 and i.category == None  %}
              <td>Misc</td> 
              {% elif i.category == 8 and i.category == None %}
              <td>Personal_care</td> 
              {% elif i.category_pred == 9 and i.category == None %}
              <td>Shopping</td> 
              {% elif i.category_pred == 10 and i.category == None  %}
              <td>Travel</td> 
                        
            {% endif %}
            

            <td>{{i.amt}}</td>         

 
          </tr>

    {% endfor %}
                  
            </tbody>
        </table>
  
        <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
  
        </div>
    </div>
   
  </div>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


<!--Nbrs transact frauduleuses -->

<div class="col-sm-4">

  <h3 style="color:rgba(9, 5, 116, 0.904)">Nombres des clients</h3>
                  
  <div class="chart-responsive" style="width:50%">
      <canvas id="pieChart" height="20"></canvas>
</div>
<div class="chart-responsive" style="width:60%">
      <canvas id="doughnutChart" height="150"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous"></script>
<script>
var doughnutChartCanvas = $('#doughnutChart').get(0).getContext('2d')
var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
var pieData        = {
  labels: [
  'Hommes', 
  'Femmes',
  
  ],
  datasets: [
{
  data: [
  {{ men_count }} ,{{female_count}},
    


  ],
  backgroundColor : ['#3c8dbc', '#F3E6E1'],
}
  ]
}
var pieOptions     = {
  legend: {
display: false
  }
}
//Create pie or douhnut chart
// You can switch between pie and douhnut using the method below.

var pieChart = new Chart(doughnutChartCanvas, {
  type: 'pie',
  data: pieData,
  options: pieOptions      
})
</script>
</div>

</body>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
